fastapi
uvicorn[standard]
pydantic
scikit-learn
pandas
numpy
joblib
matplotlib
seaborn
annotated-types
anyio
click
colorama
h11
idna
sniffio
starlette
typing-inspection
typing_extensions
